@model Student

<div class="conteiner">
	<ul>
		<li><a href="#">Дневник</a></li>
		<li>
			<a asp-controller ="StudentPages" asp-action="ProfilePage" asp-route-name="@ViewBag.name"
							asp-route-val="@ViewBag.val">Профиль</a>
		</li>
		<li><a asp-controller="StudentPages" asp-action="GroupPage" asp-route-val="@ViewBag.val">Моя группа</a></li>
		<li><a href="#">Портфолио</a></li>
		<li><a href="#">Приказы</a></li>
	</ul>
</div>
<h1>Личный кабинет</h1>
@* <p>
	@Model.Name <br/>
	@Model.Surname <br />
	@Model.Phone <br />
	@Model.Email <br />

</p> *@
<li>
	<ul><a asp-controller="StudentPages" asp-action="Portfolio">Дневник</a></ul>
	<ul><a asp-controller="StudentPages" asp-action="ProfilePage" asp-route-name="@ViewBag.name"
		   asp-route-val="@ViewBag.val">Профиль</a>
	</ul>
	<ul><a asp-controller="StudentPages" asp-action="GroupPage" asp-route-val="@ViewBag.val">Группа</a></ul>
	<ul><a asp-controller="StudentPages" asp-action="Portfolio">Портфолио</a></ul>
	<ul><a asp-controller="StudentPages" asp-action="Portfolio">Документы</a></ul>
</li>

